#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#componentes {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#componentes td, #componentes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#componentes tr:nth-child(even){background-color: #f2f2f2;}

#componentes tr:hover {background-color: #ddd;}

#componentes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}